/*
 * Copyright 2026 The TGOSKits Authors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 * The direct VirtIO-MMIO device consumes Zephyr DMA addresses. Keep this RAM
 * range reserved by the host QEMU DTB so guest physical and host physical
 * addresses remain identical.
 */
&{/soc} {
	/delete-node/ memory@40000000;

	sram0: memory@d0000000 {
		compatible = "mmio-sram";
		reg = <0x0 0xd0000000 0x0 0x08000000>;
	};

	aicp_virtio_mmio: virtio_mmio@a003a00 {
		compatible = "virtio,mmio";
		reg = <0x0 0x0a003a00 0x0 0x200>;
		interrupt-parent = <&gic>;
		/* QEMU direct VirtIO slot 29 delivers SPI 45 as interrupt ID 77. */
		interrupts = <0x0 0x2d 0x2 0xa0>;
		status = "okay";

		virtio_net: virtio-net {
			compatible = "virtio,net";
			status = "okay";
			local-mac-address = [52 54 00 aa 03 02];
		};
	};
};

&eth0 {
	status = "disabled";
};

&pcie {
	status = "disabled";
};

/* PCI/MSI is not part of this virtio-mmio Guest profile. */
&its {
	status = "disabled";
};
